<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página no encontrada</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/errors/404.css') }}">
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='icon/logo.png') }}" alt="Logo Casita Bakery" class="logo">
        <h1>¡Ups! Página no encontrada</h1>
        <p>La página que estás buscando no existe o fue movida.</p>
    </div>
</body>
</html>
